.array-bar {
  width: 10px;
  display: inline-block;
  margin: 0 1px;

}

.array-bar:hover .hovertext {
  opacity: 0.8;
  visibility: visible;
}

.hovertext {
  visibility: hidden;
  width: 30px;
  margin-left: -15px;
  background-color: black;
  color: #fff;
  text-align: center;

  padding: 5px 0;
  border-radius: 6px;
  position: absolute;
  z-index: 1;
}

.array-container {
  position: static;
}

.button-container{
  position: static;
}

.controls{
  background-color: #1abc9c;
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 0 2px;
}

.controls:hover {
  opacity: 0.8;
}

.controls-disabled{
  background-color: #B0CEC9;
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 0 2px;
}
